@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Arial Narrow", Arial, sans-serif;
}


a:hover, button:hover{
  cursor: pointer;
}

h1{
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
}

@media (min-width: 240px) {
  /* sm */
  h1 {
    font-size: 30px;
    line-height: 1.2;
  }
}
@media (min-width: 640px) {
  /* sm */
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
}

@media (min-width: 768px) {
  /* md */
  h1 {
    font-size: 72px;
    line-height: 1.2;
  }
}

@media (min-width: 1024px) {
  /* lg */
  h1 {
    font-size: 80px;
    line-height: 1.2;
  }
}


/* h2{
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
} */

.mc{
  max-width: 1200px;
  margin: 0px auto;
}


@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE і Edge */
  scrollbar-width: none; /* Firefox */
}

details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}
