@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Arial Narrow", Arial, sans-serif;
}


a:hover, button:hover{
  cursor: pointer;
}

h1{
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
}
h2{
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
}

.mc{
  max-width: 1200px;
  margin: 0px auto;
}


@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE і Edge */
  scrollbar-width: none; /* Firefox */
}